@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:700);
$blue: #2185D0;

.ui.container.admin {
margin-bottom: 5em;
  .column{

  }
  .admin-margin {
    margin-top: 2em;
  }
  .left.floated.column.pull-down.right-padding {
    margin-right: 0em;
    width: 45%;
  }
  .right.floated.column.pull-down {
    margin-right: 0em;
    width: 45%;
  }
  .row {
    padding: 1em;
  }

  .ui.small.modal > header.modal{
  background: $blue;
  text: #000000;
  }

  .ui.container.personalData {
    .header.first {
      padding-top: 3em;
    }
  }

  .action.input {
    padding-top: 3em;
  }

}

label {
    margin-right: 2em;
}



