@import url(https://fonts.googleapis.com/css?family=Kadwa|Poppins);

body {
  font-family: 'Poppins', sans-serif;
}

.container{
  background-image: url('/img/background.jpeg');
  background-size: cover;
  height:100vh;
  width:100vw;
}

#index-header{
  margin-top: 2em;
}

#test {
	text-align : "center";
}
