@import url(https://fonts.googleapis.com/css?family=Kadwa|Poppins);

body {
  font-family: 'Poppins', sans-serif;
}

#index-header{
  margin-top: 2em;
}

#test {
	text-align : "center";
}

.pull-down{
  margin-top: 1.5em;
}
