@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:700);

.ui.container.network {
  .column{

  }
  .network-margin {
    margin-top: 2em;
  }
  .column.pull-down.left {
    padding-right: 0%;
    margin-right: 8em;
    width: 35%;
  }
  .column.pull-down.right {
    padding-left: 0%;
    margin-right: 0em;
    width: 25%;
  }

  .row {
    padding: 0em;
  }


}

.six.wide.ui.divided.items.second {
  margin-top: 5em;
}

.ui.basic.button.add-friend{
  position: absolute;
  right: 0;
}
