<div class ="ui container pull-down">
  <h2>Kategorier for øvelser:</h2>
</div>

<div class="ui container pull-down">
  <div class="ui relaxed divided list">
  <div class="item">
    <i class="large child middle aligned icon"></i>
    <div class="content">
      <a class="header" ui-sref="balanse">Balanse</a>
      <div class="description">Klikk for å se balanseøvelser!</div>
    </div>
  </div>
  <div class="item">
    <i class="large child middle aligned icon"></i>
    <div class="content">
      <a class="header">Styrke</a>
      <div class="description">Klikk for å se styrkeøvelser!</div>
    </div>
  </div>
  <div class="item">
    <i class="large child middle aligned icon"></i>
    <div class="content">
      <a class="header">Fleksibilitet</a>
      <div class="description">Klikk for å se fleksibilitetøvelser!</div>
    </div>
  </div>
</div>
</div>

<!--
<div class="ui medium buttons">
  <a ui-sref="activities"> <button class="ui medium blue button ">
  </button></a>
  <a ui-sref="activities"> <button class="ui medium blue button "> Se øvelser
  </button></a>
</div> -->
