<div class="ui container pull-down">
  <div class="ui relaxed divided list">
  <div class="item">
    <i class="large child middle aligned icon"></i>
    <div class="content">
      <a class="header">Aerobic</a>
      <div class="description">30 minutters økt</div>
    </div>
  </div>
  <div class="item">
    <i class="large child middle aligned icon"></i>
    <div class="content">
      <a class="header">Tøying</a>
      <div class="description">40 minutters økt</div>
    </div>
  </div>
  <div class="item">
    <i class="large child middle aligned icon"></i>
    <div class="content">
      <a class="header">Strongman</a>
      <div class="description">1t 30 minutters økt</div>
    </div>
  </div>
</div>
</div>
