<div class="ui container admin" ng-controller="adminCtrl as adc">
	  <div class="ui two column grid">
	    <div class="left floated column pull-down right-padding">
      		<h3 class="ui dividing header">Admin Panel</h3>
	      	<div class="ui stackable grid container"></div>
	      	<div class="row admin-margin"></div>


	      	<div class="header">Søk etter bruker</div>

	      	<div class="content" style="margin-bottom: 20px">
		      <div class="ui form">
		        <div class="field">
		        	<label>Seach your contacts (Vil bli fjernet)</label>
		      		<input name="user" id="users" type="text" placeholder="Search for users" ng-model="adc.selected" typeahead="user as user.profile.nameFirst + user.profile.nameLast for user in adc.usersList | filter:$viewValue | limitTo:8" class="form-control">
		      	</div>
		      </div>
		    </div>
		   		   
	      	<div class="row admin-margin"></div>

	      	<div class="row">
	      		<h3>Valgt bruker - {{adc.selected.profile.nameFirst + " " + adc.selected.profile.nameLast}} </h3>
		      	<div class="ui container" ng-repeat="field in adc.getReactively('selected').profile.personalData" >
			      <div class="ui action input">
			      	<label>Personlig data - {{$index + 1}} </label>
			        <input placeholder="Type" type="text" ng-model="field.title">
			        <input placeholder="Verdi" type="text" ng-model="field.value">
			        <div type="submit" ng-click="adc.savePersonalData()" class="ui button">Endre</div>
			      </div>
			    </div>
			</div>
		</div>

	  </div>
</div>
