 <button class="ui blue button" ng-click="fireCreateEventModal()">
      Opprett aktivitet
    </button>

 <div class="ui small modal createEvent" ng-controller="createEventCtrl as evC" >
      <i class="close icon"></i>

      <div class="header blue modal">Opprett en ny aktivitet</div>
      <div class="content">

        <div id="form" class="ui form pull-down" >
          <div class="required field">
            <label>Tittel: </label>
            <input type="text" ng-model="evC.newEvent.name"/>
          </div>
          <div class="field">
            <label>Beskrivelse: </label>
            <textArea rows="2" type="text" ng-model="evC.newEvent.description"></textArea>
            <div class="field">
              <label>Dato: </label>
               <div class="choosedate">
            <input type="text" class="form-control" ng-model="evC.newEvent.date" ng-click="fireDatepicker()">
          </div> 
            </div>
            <div class="field">
              <label>Sted: </label>
              <input type="text" ng-model="evC.newEvent.location"/>
            </div>
            <div class="field">
              <label>Legg til venner</label>
              <select name="participants" multiple="" class="ui fluid search dropdown" id="addFriends" ng-model="participants" ng-options="user._id as user.username for user in evC.users">
               <option value="">Velg venner</option>
               
           
              </select>
            </div>
            <button class="ui medium green button" ng-click="evC.addEvent()">Opprett</button>
          </div>
        </div>
      </div>

    </div>