<div class="ui container dashboard">
  <div class="ui two column grid">
    <!-- Section one -->
    <div class="left floated column pull-down right-padding">
      <h3 class="ui dividing header">Nyheter</h3>
      <div class="ui stackable grid container"></div>
      <div class="row dashboard-margin">
        <div class="ui raised blue segment">
          <div class="ui small feed">
            <h4 class="ui header">Followers Activity</h4>
            <div class="event">
              <div class="content">
                <div class="summary">
                  <a>Du</a>
                  ble venn med
                  <a>Svein</a>
                </div>
              </div>
            </div>
            <div class="event">
              <div class="content">
                <div class="summary">
                  <a>Svein</a>
                  ble venn med
                  <a>Geir</a>
                </div>
              </div>
            </div>
            <div class="event">
              <div class="content">
                <div class="summary">
                  <a>Randi</a>
                  var på tur i skogen.
                </div>
              </div>
            </div>
            <div class="event">
              <div class="content">
                <div class="summary">
                  <a>Svein</a>
                  inviterte deg på
                  <a>kaffebesøk</a>.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row dashboard-margin">
        <div>

        <div class="ui form">
          <div class="field">
            <label>Søk etter nye kontakter</label>
            <div class="ui icon input">
              <input type="text" placeholder="Søk etter nye kontakter...">
              <i class="search icon"></i>
              <div class="results"></div>
            </div>
          </div>
            <div class="field">
              <label>Søk i venner</label>
              <div class="ui icon input">
                <input type="text" placeholder="Søk i venner...">
                <i class="search icon"></i>
                <div class="results"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <a ui-sref="network"> <button class="ui large blue button "> Se kontakter
        </button></a>

      </div>
    </div>
    <!-- Section two -->
    <div class="right floated column pull-down">
      <h3 class="ui dividing header">Øvelser</h3>
      <div class="ui stackable grid container">
        <div class="row dashboard-margin">
          <div class="ui middle aligned divided list">
            <div class="item">
              <i class="large child icon"></i>
              <div class="content">
                <a class="header">Sofasittende overkroppsrotasjon</a>
              </div>
            </div>
            <div class="item">
              <i class="large child icon"></i>
              <div class="content">
                <a class="header">Fremoverlent knehasetøy</a>
              </div>
            </div>
            <div class="item">
              <i class="large child icon"></i>
              <div class="content">
                <a class="header">Balanseøvelse</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
        <a ui-sref="activities"> <button class="ui medium blue button "> Legg til ny øvelse
        </button></a>
      </div>

        <div class="row">
          <div class="ui divided items">
            <h3>Kommende Aktiviteter</h3>
            <div class="item">
              <i class="calendar icon"></i>
              <div class="content">
                <a class="header">Gåtur til senteret for å drikke kaffe</a>
                <div class="description">
                  <p>Mandag, 14.mars</p>
                  <p>kl 12.00</p>
                </div>
              </div>
            </div>
            <div class="item">
              <i class="calendar icon"></i>
              <div class="content">
                <a class="header">Daglig trengingsøkt</a>
                <div class="description">
                  <p>Idag, 8.mars</p>
                  <p>kl 09.00</p>
                </div>
              </div>
            </div>
            <div class="item">
              <i class="calendar icon"></i>
              <div class="content">
                <a class="header">Bridgekveld</a>
                <div class="description">
                  <p>Torsdag , 10.mars</p>
                  <p>kl 18.00</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="ui medium buttons">
            <button class="ui blue button">
              Opprett aktivitet
            </button>
            <button class="ui blue button">
              Se aktiviteter
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
