<div ng-controller="dashboardCtrl as dbC">
  <div class="ui container dashboard">

  <div class="ui two column grid">
    <!-- Section one -->
    <div class="left floated column pull-down right-padding">
      <h3 class="ui dividing header">Nyheter</h3>

      <div class="row dashboard-margin">
        <newsfeed></newsfeed>
      </div>

      <div class="venner">
        <div class="row">
          <div class="ui compact menu">
            <a class="item"> 
              <button class="ui large blue button" ui-sref="network">Kontakter</button>
            </a>
            <a class="item newFriend">
                <i class="add user icon"></i>Venneforespørsler
                <div class="floating ui ui red circular label" ng-show="0 < dbC.friendRequestNotification">
                  {{ dbC.friendRequestNotification }}</div>
              </a>
          </div>         
        </div>
      
        <div class="row">
          <div class="ui green buttons">
            <button class="ui labeled icon button modalInbox">
              <i class="inbox icon"></i>
              {{ dbC.messageRequestNotification }} meldinger
            </button>

            <div class="item modalMessage">
            <button class="ui button">
              <i class="send icon"></i>
              Send melding</button>
            </div>
          </div>
        </div>
<!--
                <a href="/#/mineAktiviteter">
                  <div class="ui big label" style="margin-top: 10px" ng-model="dbC.eventRequestNotification">
                    <i class="calendar icon"></i>
                    {{ dbC.eventRequestNotification }} events
                  </div>
                </a>
-->
      </div>
    </div>

    <!-- Section two -->
    <div class="right floated column pull-down">
      <div class="ui stackable grid container">
        
        <div class="row dashboard-margin">
          <div class="ui middle aligned divided list pull-down">
          <h3>Dine øvelser</h3>
            <div class="item" ng-repeat="ex in dbC.exercises">
              <i class="large child icon"></i>
              <div class="content">
                <a class="header">{{ex.name}}</a>
              </div>
            </div>
            <div class="item" ng-show="0 == dbC.exercises.length">
              <div class="header">
                Du har ikke lagt til noen aktiviteter enda. Klikk på knappen nedenfor og legg noen til!
              </div>
            </div>
          </div>
        </div>

          <div class="ui medium buttons">
            <!-- <a ui-sref="activities"> <button class="ui medium blue button "> Legg til ny øvelse
            </button></a> -->
            <a ui-sref="exercises"> <button class="ui medium blue button ">Finn nye øvelser
            </button></a>
      </div>
        <div class="row dashboard-margin">
          <event-list></event-list>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Accep/Deny modal-->

      <div class="ui small modal friendModal">
        <i class="close icon" onclick="closeModal()"></i>
        <div class="header">
          Venneforespørsler
        </div>
        <div class="content">
          <div class="meta" ng-show="dbC.friendRequests.length == 0">
            Du har ikke mottatt noen venneinvitasjoner enda.
          </div>
          <div ng-repeat="fr in dbC.friendRequests">
            <li class="friend">{{ fr.username }}</li>
            <button class="ui button" ng-click="accept(fr._id, bool=true)">Aksepter</button>
            <button class="ui button" ng-click="accept(fr._id, bool=false)">Deny</button>
          </div>
        </div>
      </div> <!--Accept/Deny model ends-->

      <!--Send Message Modal-->
    <div class="ui small modal messageModal">
      <i class="close icon"></i>
      <div class="header">
        Melding
      </div>
      <div class="content" style="margin-bottom: 20px">
        <div class="ui form">
          <div class="field">
            <label>Seach your contacts (Vil bli fjernet)</label>
        <input type="text" ng-model="selected" typeahead="friend.username for friend in dbC.friends | filter:$viewValue"
        typeahead-on-select="onSelect($item, $model, $label)">

          </div>
        <div class="field">
          <h3>Meldingen vil bli sent til:</h3>
            <a class="ui green label" ng-repeat="recipient in messageList">{{recipient}}</a>
          </div>
        <div class="field">

        </div>
          <div class="field">
              <label>Melding</label>
              <textarea ng-model="message"></textarea>
          </div>
          <div class="field">
            <div class="ui submit right floated green button" ng-click="sendMessage(message)">Send</div>
          </div>
        </div>
      </div>

    </div>

    <!--Inbox Modal-->
    <div class="ui small modal inboxModal">
      <i class="close icon"></i>
      <div class="header">
        Innboks
      </div>
      <div class="content">
        <div class="meta" ng-show="dbC.messages.length == 0">
          Innboksen din er tom for meldinger.
        </div>
        <div class="ui items" ng-repeat="msg in dbC.messages">
          <div class="item">
            <a class="ui tiny image">
              <img src="/img/kristy.png">
            </a>
            <div class="content">
              Fra: <b>{{ msg.from }}</b> | Tid: <b> {{ msg.time }}</b>
              <div class="description">
                {{ msg.message }} <a class="ui right floated red label" ng-click="deleteMessage(msg.message)">Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $('.newFriend').click(function(){
                    $('.ui.small.modal.friendModal')
                      .modal('show')
                    ;
                  });

                  function closeModal(){
                    location.reload()
                  }

                  $('.modalMessage').click(function(){
                    $('.ui.small.modal.messageModal').modal('show');
                  });

                  $('.modalInbox').click(function(){
                    $('.ui.small.modal.inboxModal').modal('show');
                  });

                  $('.ui.accordion')
                    .accordion()
                  ;
    </script>
</div>