<div class="ui container">
 <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
    <div class="row">
<div class="ui divided items">
	<div class="item">
    	<div class="ui tiny image">
      		<img src="/img/AppIcon.png">
    	</div>
    	<div class="middle aligned content">
      		<div class="description">
        		<p>Her kommer det en app du kan laste ned for å følge ditt eget fitness nivå. Appen er fortsatt i et tidlig stadium av utviklingen og har derfor ikke nevneverdig funksjonalitet.</p>
      		</div>
    	</div>
  	</div>
</div>
</div>
<div class="row">
<div class="center aligned column">
     <a href="http://it2901-g11-2016.meteor.com/#/tab/profile" class="ui small image">
	<img class="ui image medium" src="/img/norsksvg.svg">
	</a>
	<a href="http://it2901-g11-2016.meteor.com/#/tab/profile" class="ui small image">
 	<img class="ui image medium" src="/img/android_badge.png">
</a>
 </div>

</div>
 </div>
</div>
</div>
