<div class="ui container">
 <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
    <div class="row">
       <div class="row">
 <a href="https://www.the-qrcode-generator.com/"><img src="http://chart.apis.google.com/chart?chs=200x200&amp;cht=qr&amp;chld=|1&amp;chl=http%3A%2F%2Fit2901-g11-2016.meteor.com%2F%23%2Ftab%2Fprofile" alt="QR Code" /></a>
 </div>34
    </div>

    <div class="row">
<div class="ui divided items">
	<div class="item">
    	<div class="ui tiny image">
      		<img src="/img/AppIcon.png">
    	</div>
    	<div class="middle aligned content">
      		<div class="description">
        		<p>Her kommer det en app du kan laste ned for å følge ditt eget fitness nivå. Appen er fortsatt i et tidlig stadium av utviklingen og har derfor ikke nevneverdig funksjonalitet.</p>
      		</div>
    	</div>
  	</div>
</div>
</div>
<div class="row">
<div class="center aligned column">
     <a href="http://it2901-g11-2016.meteor.com/#/tab/profile" class="ui small image">
	<img src="/img/AppStore.png">
	</a>
	<a href="http://it2901-g11-2016.meteor.com/#/tab/profile" class="ui small image">
 	<img src="/img/google-play.png">
</a>
 </div>

</div>
 </div>
</div>
</div>


