<div class="ui container myEvents" ng-controller="egneAktiviteterCtrl as evC">
  <div class="ui stackable grid container pull-down">
  <div class= "row">
   

   <div ui-view></div>
  

</div>
</div>
<div class="row">

<div class="ui two column grid">
  <div class="column pull-down myEvents">

    <div class="six wide  ui divided items">
      <h3>Mine Aktiviteter</h3>
      <div class="item"  ui-sref="{{event._id}}" ng-repeat="event in evC.events" >
        <i class="calendar icon"></i>
        <div class="content">
          <a class=" header"> {{ event.name }} </a>
          <div class="description">   
            <p>{{ event.date }} kl 12.00</p>
            <p>{{ event.location }}</p>
          </div>
          <div class="ui list" ng-repeat="participant in evC.participants">
            <div class="ui item">
              {{participant}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="column pull-down myEvents">
    <div class="ui stackable container">
      <div class="row">
        
      <div class="ui view">Trykk på en aktivitet for å se detaljer</div>

    </div>
    
    
  </div>
</div>
</div>
</div>
</div>