<div class="activities">
<div class="ui container pull-down">
  <div class="ui header">Klikk på ønsket kategori:</div>
</div>

<div class="ui two column grid" ng-controller="exerciseCtrl as exC">

  <div class="column">

    <div class="ui buttons">
      <button class="ui toggle button  exerciseType" id="{{type}}" ng-repeat="type in exC.types" value="{{type}}" ng-click="exC.activate(type)">{{type}}</button>
    </div>
    <div class="ui middle aligned divided list pull-down">
      <h3>Øvelser</h3>
      <div class="item" ng-repeat="ex in exC.Exercises" ng-if="exC.view(ex.types)">
        <i class="large child icon"></i>
        <div class="content">
          <a class="header" ng-click="exC.setUrl(ex._id)">{{ex.name}}</a>

          <button title="Klikk for å slette øvelsen" class="remove event button" ng-click="exC.removeExercise(ex._id)" ng-if="exC.isAdmin">
            <i class="remove circle icon"></i>
          </button>

          <br>
          <span>Type: </span><span ng-repeat="type in ex.types"> {{type}}, </span>
        </div>
      </div>
    </div>
    <!--
    <div class="ui activities container pull-down">
      <div class="ui relaxed divided list">
      <div class="item">
        <i class="large child middle aligned icon"></i>
        <div class="content">
          <a class="header" ui-sref="balanse">Balanse</a>
          <div class="description">Klikk for å se balanseøvelser!</div>
        </div>
      </div>
      <div class="item">
        <i class="large child middle aligned icon"></i>
        <div class="content">
          <a class="header">Styrke</a>
          <div class="description">Klikk for å se styrkeøvelser!</div>
        </div>
      </div>
      <div class="item">
        <i class="large child middle aligned icon"></i>
        <div class="content">
          <a class="header">Fleksibilitet</a>
          <div class="description">Klikk for å se fleksibilitetøvelser!</div>
        </div>
      </div>
    </div>
    </div> -->
  </div>
<div class="column">

  <button class="ui blue button" ng-click="exC.revealSegment()" ng-if="exC.isAdmin">
    <i class="plus icon"></i>Administrator: Opprett ny øvelse
  </button>

  <div class="ui segment newExercise" ng-show="exC.visible">
    <form class="ui form">
      <div class="field">
        <label>Navn på øvelse</label>
        <input type="text" name="" placeholder="Name" ng-model="exC.newExercise.name">
      </div>
      <div class="field">
        <label>Beskrivelse</label>
        <input type="text" name="" placeholder="Beskrivelse" ng-model="exC.newExercise.description">
      </div>
      <!--<div class="field">
            <label>Aktivitetstype</label>
            <select class="ui fluid search dropdown" multiple ng-model="exC.newExercise.type">
              <option value="">Aktivitetstype</option>
              <option value="Trening">Balanse</option>
              <option value="Sosial">Styrke</option>
              <option value="Friluft">Flexibilitet</option>
            </select>
          </div>-->

      <div class="inline fields">
        <div class="ui field" ng-repeat="type in exC.types">
        <label>
          <input type="checkbox" name="types[]" value="{{type}}" ng-click="exC.toggleSelection(type)">
          {{type}}
        </label>
        </div>
      </div>


      <div class="required field">
        <label>Link til video</label>
        <input type="text" name="" placeholder="Link" ng-model="exC.newExercise.url">
      </div>
      <div class="ui labeled button" >
        <button class="ui button" ng-click="exC.addExercise()">
          <i class="plus icon"></i>Opprett
        </button>
      </div>
    </form>
  </div>
</div>

    <div class="ui modal one">
      <i class="close icon"></i>
      <div class="header">
        <p ng-hide="exC.chosenExercise.name">Oversikt over øvelsen:</p>
        <p ng-show="exC.chosenExercise.name">{{ exC.chosenExercise.name }}</p>
      </div>
      <div class="content">
        <div class="ui two column relaxed grid">
          <div class="column">
            <iframe id="frame" width="420" height="315" frameborder="0" allowfullscreen>Fant ingen video</iframe>
          </div>  
          <div class="column">
            <div class="summary">
              {{ exC.chosenExercise.description }}
            </div>
            <!--Edit so that the button checks if the exercise is already added to your list (also reposition)-->
            <button ng-click="exC.addToUser()" class="ui basic button add-friend"><i class="icon user"></i>Legg til i Mine øvelser</button>
         </div>
        </div>
      </div>
    </div>

  </div>
</div>