<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment landing-image">

    <div class="ui text container">
      <h1 class="ui inverted header">
        Neste Fall <i class="frown icon"></i>
      </h1>
      <h2>Trykk på knappen under for å sjekke ditt fysiske nivå!</h2>
      <a href="https://www.worldfitnesslevel.org" target="_blank"><div class="ui huge primary button">Hva er din fysiske alder? <i class="right arrow icon"></i></div></a>
    </div>

  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Hva tilbyr vi</h3>
          <p>Se videoen for en demonstrasjon av hva tjenesten vår tilbyr.</p>
          <!-- <h3 class="ui header">Juhu</h3>
          <p>Dette prosjektet blir sååååå bra</p> -->
        </div>
        <div class="six wide right floated column">
          <div class="ui embed" data-url="https://www.youtube.com/embed/mvxbaltxuWU"></div>
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">Knapp uten funksjon</a>
        </div>
      </div>
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Generell info</h3>
          <p>Dette er en side som har som mål å forebygge fall hos gæmlisser ved bruk av nettside og app som skal få sofagriser opp, ut og i aktivitet.</p>
        </div>
      </div>
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Fordeler fysisk aktive har</h3>
          <p>Eldre som er i aktivitet beskytter kropp og sinn fra skader blabla.</p>
          <div class="four wide right aligned column">
          	<img src="/img/old runner_thumb[1].jpg">
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
