<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui text container">
      <h1 class="ui inverted header">
        Neste Fall <i class="frown icon"></i>
      </h1>
      <h2>Dette er en jalla template</h2>
      <a href="https://www.worldfitnesslevel.org" target="_blank"><div class="ui huge primary button">Hva er din fysiske alder? <i class="right arrow icon"></i></div></a>
    </div>

  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Hipp hurra for denne templaten</h3>
          <p>Den er jo ganske fin og sånn</p>
          <h3 class="ui header">Juhu</h3>
          <p>Dette prosjektet blir sååååå bra</p>
        </div>
        <div class="six wide right floated column">
          <img src="img/background.jpeg" class="ui large bordered rounded image">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">Dette er en knapp</a>
        </div>
      </div>
    </div>
  </div>
</div>
