<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment landing-image">

    <div class="ui text container">
      <h1 class="ui inverted header">
        Neste Fall <i class="frown icon"></i>
      </h1>
      <h2>Dette er en jalla template</h2>
      <a href="https://www.worldfitnesslevel.org" target="_blank"><div class="ui huge primary button">Hva er din fysiske alder? <i class="right arrow icon"></i></div></a>
    </div>

  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Hipp hurra for denne templaten</h3>
          <p>Den er jo ganske fin og sånn</p>
          <h3 class="ui header">Juhu</h3>
          <p>Dette prosjektet blir sååååå bra</p>
        </div>
        <div class="six wide right floated column">
          <div class="ui embed" data-url="https://www.youtube.com/embed/mvxbaltxuWU"></div>
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">Dette er en knapp</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Register Modal-->
<div class="ui small modal register">
  <i class="close icon"></i>
  <div class="header">
    Registrering
  </div>
  <div class="ui container modalsize">
  <form class="ui form">
    <div class="field six wide column padding">
      <label>Fornavn</label>
      <input type="text" name="fornavn" placeholder="Fornavn" required>
    </div>
    <div class="field six wide column">
      <label>Last Name</label>
      <input type="text" name="etternavn" placeholder="Etternavn" required>
    </div>
    <div class="field six wide column">
      <label>Passord</label>
      <input type="password" name="password" placeholder="Passord" required>
    </div>
    <div class="field six wide column">
      <label>Gjenta nytt passord</label>
      <input type="password" name="password" placeholder="Gjenta nyttpassord" required>
    </div>
    <div class="field six wide column">
      <label>Epost</label>
      <input type="email" name="email" placeholder="Epost" required>
    </div>
    <div class="field six wide column">
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0">
        <label>I agree to the Terms and Conditions</label>
      </div>
    </div>
    <button class="ui button submit" type="submit">Submit</button>
  </form>
  </div>
</div> <!--Modal ends-->

<!--Login Modal-->
<div class="ui small modal login">
  <i class="close icon"></i>
  <div class="header">
    Registrering
  </div>

  <div class="ui container modalsize">
    <form class="ui form">
      <div class="field six wide column padding">
        <label>Brukernavn</label>
        <input type="text" name="username" placeholder="Brukernavn" required>
      </div>
      <div class="field six wide column">
        <label>Password</label>
        <input type="password" name="password" placeholder="Passord" required>
      </div>
      <button class="ui green button">Logg inn</button>
    </form>
  </div>
</div> <!--Modal ends-->
