  <div class="ui container">
    <div class="ui two column grid">
      <div class="column pull-down">

        <div class="ui stackable grid container">
          <div class="row">
            <div class="ui divided items">
              <h3>Dine aktiviteter</h3>
              <div class="item">
                <i class="calendar icon"></i>
                <div class="content">
                  <a class="header">Gåtur til senteret for å drikke kaffe</a>
                  <div class="description">
                    <p>Mandag, 14.mars</p>
                    <p>kl 12.00</p>
                  </div>
                </div>
              </div>
              <div class="item"> 
               <i class="calendar icon"></i>
               <div class="content">
                <a class="header">Daglig trengingsøkt</a>
                <div class="description">
                  <p>Idag, 8.mars</p>
                  <p>kl 09.00</p>
                </div>
              </div>
            </div>
            <div class="item">
              <i class="calendar icon"></i>
              <div class="content">
                <a class="header">Bridgekveld</a>
                <div class="description">
                  <p>Torsdag , 10.mars</p>
                  <p>kl 18.00</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="ui divided items">
           <h3>Dine kontakter</h3>
           <div class="item">
             <i class="user icon"></i>
             <div class="middle aligned content">
              Svein
            </div>
          </div>
          <div class="item">
           <i class="user icon"></i>
           <div class="middle aligned content">
            Randi
          </div>
        </div>
        <div class="item">
         <i class="user icon"></i>
         <div class="middle aligned content">
          Geir
        </div>
      </div>
      <div class="item">
       <i class="add user icon"></i>
       <div class="middle aligned content">
        Legg til ny kontakt
      </div>
    </div>
  </div>
</div>
</div>
</div>


<div class="column pull-down">
  <div class="ui stackable grid container">
  <div class="row">
   <div class="ui medium image">
  <img src="/img/graf.png">
</div>
    </div>
    <div class="row">
      <div class="ui small statistic">
  <div class="label">
    Skritt hittil i dag
  </div>
  <div class="value">
    2000
  </div>
</div>
    </div>
    <div class="row">
      <div class="ui small statistic">
  <div class="label">
    Skritt hittil i år
  </div>
  <div class="value">
    40000
  </div>
</div>
    </div>
  </div>
</div>
</div>
</div>
