  <div class="ui container dashboard">
    <div class="ui three column grid">

<div class="column pull-down">
 <div class="ui stackable grid container"></div>
  <div class="row">
  <h3>Nyheter</h3>
  <div class="ui raised blue segment">
    <div class="ui small feed">
  <h4 class="ui header">Followers Activity</h4>
  <div class="event">
    <div class="content">
      <div class="summary">
         <a>Du</a> ble venn med <a>Svein</a>
      </div>
    </div>
  </div>
  <div class="event">
    <div class="content">
      <div class="summary">
         <a>Svein</a> ble venn med <a>Geir</a>
      </div>
    </div>
  </div>
  <div class="event">
    <div class="content">
      <div class="summary">
         <a>Randi</a> var på tur i skogen.
      </div>
    </div>
  </div>
  <div class="event">
    <div class="content">
      <div class="summary">
         <a>Svein</a> inviterte deg på <a>kaffebesøk</a>.
      </div>
    </div>
  </div>
</div>
</div>
  </div>
  <div class="row">
  <div class="ui form">
    
    <div class="field">
     <label>Søk etter nye kontakter</label>
    <div class="ui icon input">
  <input type="text" placeholder="Søk etter nye kontakter...">
  <i class="search icon"></i>
  <div class="results"></div>
</div>
  </div>
  
 <div class="row">
 <div class="field">
 <label>Søk i venner</label>
    <div class="ui icon input">
  <input type="text" placeholder="Søk i venner...">
  <i class="search icon"></i>
  <div class="results"></div>
  </div>
  </div>
  </div>
</div>
  </div>
  <div class="row">
    <button class="massive blue ui button ">
      Se kontakter
    </button>
  </div>
</div>

      <div class="column pull-down">

        <div class="ui stackable grid container">
        <div class="row">
            <div class="ui middle aligned divided list">
              <h3>Øvelser</h3>
              <div class="item">
                <i class="large child icon"></i>
                <div class="content">
                  <a class="header">Sofasittende overkroppsrotasjon</a>
                </div>
                <i class="checkmark box icon"></i>
              </div>
              <div class="item">
               <i class="large child icon"></i>
               <div class="content">
                <a class="header">Fremoverlent knehasetøy</a>
              </div>
               <i class="float right square outline icon"></i>
            </div>
            <div class="item">
              <i class=" large child icon"></i>
              <div class="content">
                <a class="header">Balanseøvelse</a>
               
              </div>
               <i class="square outline float right icon"></i>
            </div>
          </div>
        </div>
          <div class="row">
            <div class="ui divided items">
              <h3>Kommende Aktiviteter</h3>
              <div class="item">
                <i class="calendar icon"></i>
                <div class="content">
                  <a class="header">Gåtur til senteret for å drikke kaffe</a>
                  <div class="description">
                    <p>Mandag, 14.mars</p>
                    <p>kl 12.00</p>
                  </div>
                </div>
              </div>
              <div class="item">
               <i class="calendar icon"></i>
               <div class="content">
                <a class="header">Daglig trengingsøkt</a>
                <div class="description">
                  <p>Idag, 8.mars</p>
                  <p>kl 09.00</p>
                </div>
              </div>
            </div>
            <div class="item">
              <i class="calendar icon"></i>
              <div class="content">
                <a class="header">Bridgekveld</a>
                <div class="description">
                  <p>Torsdag , 10.mars</p>
                  <p>kl 18.00</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          
                <button class=" blue ui button ">
      Opprett aktivitet
    </button>
             
             
                <button class="blue ui button ">
      Se aktiviteter
    </button>
            
        </div>
        
<!--
        <div class="row">
          <div class="ui divided items">
           <h3>Dine kontakter</h3>
           <div class="item">
             <i class="user icon"></i>
             <div class="middle aligned content">
              Svein
            </div>
          </div>
          <div class="item">
           <i class="user icon"></i>
           <div class="middle aligned content">
            Randi
          </div>
        </div>
        <div class="item">
         <i class="user icon"></i>
         <div class="middle aligned content">
          Geir
        </div>
      </div>
      <div class="item">
       <i class="add user icon"></i>
       <div class="middle aligned content">
        <a ui-sref="network">Legg til ny kontakt</a>
      </div>
    </div>
  </div>
</div>
-->

</div>
</div>


<div class="column pull-down">
  <div class="ui stackable grid container">
  <div class="row">
   <div class="ui medium image">
  <img src="/img/graf.png">
</div>
    </div>
    <div class="row">
      <div class="ui small statistic">
  <div class="label">
    Skritt hittil i dag
  </div>
  <div class="value">
    2000
  </div>
</div>
    </div>
    <div class="row">
      <div class="ui small statistic">
  <div class="label">
    Skritt hittil i år
  </div>
  <div class="value">
    40000
  </div>
</div>
    </div>
  </div>
</div>
</div>
</div>
