<div class="ui container myFriends" ng-controller="networkController as nec">
  <div class="ui stackable grid container pull-down">
  <div class= "row">


</div>
</div>
<div class="row">

<div class="ui two column grid">
  <div class="column pull-down myFriends">

    <div class="six wide  ui divided items">
      <h3>Mine Kontakter ({{ nec.user.profile.friends.length }})</h3>
      <div class="item" ng-repeat="fr in nec.friends">
        <i class="user icon"></i>
        <div class="content">
          <a ui-sref="publicProfile({ username: fr.username })">{{ fr.username }}</a>
          <div class="description">
            <p>{{ fr.profile.nameFirst}} {{fr.profile.nameLast}}</p>
          </div>
        </div>
        <!--<div class="content">
          publicProfile({ username: fr.username })
          <a class=" header" ui-sref="egneAktiviteter.eventDetails({ eventId: event._id })"> {{ event.name }} </a>
          <button title="Klikk for å slette aktiviteten" class="remove event button" ng-click="evC.removeEvent(event)"><i class="remove circle icon"></i></button>
          <div class="description">
            <p>{{ event.date }} kl 12.00</p>
            <p>{{ event.location }}</p>
          </div>
        </div>-->
      </div>
    </div>
    <div class="six wide  ui divided items second">
      <div>
        <div class="ui divided items">
          <h3>Alle kontakter i databasen</h3>
          <div class="item" ng-repeat="user in nec.contacts">
            <i class="icon user"></i>
            <div class="content">
              <a ui-sref="publicProfile({ username : user.username })">{{ user.username }}</a>
                <button ng-click="inviteFriend(user._id)" class="ui basic button add-friend">
                  <i class="icon user"></i>Legg til venn</button>
                  <div class="description">
                    <p>{{ user.profile.nameFirst}} {{user.profile.nameLast}}</p>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="column pull-down myEvents">
    <div class="ui stackable container">
      <div class="row">

      <div ui-view="eventDetails">Trykk på en venn for å se detaljer</div>

    </div>


  </div>
</div>
</div>
</div>
</div>
