<div class="ui container personalData">
    <h4 class="ui header first">Her kan brukere legge inn personlig data</h4>
    <h4 class="ui red header">Denne siden er bare en placeholder</h4>

    <div class="ui container">
      <div class="ui action input">
        <input placeholder="Personlig data 1" type="text">
          <select class="ui compact selection dropdown">
            <option selected="" value="articles">Data type 1</option>
            <option value="all">Data type 2</option>
            <option value="products">Data type 3</option>
          </select>
        <div type="submit" class="ui button">Endre</div>
      </div>
    </div>

    <div class="ui container">
      <div class="ui action input">
        <input placeholder="Personlig data 2" type="text">
          <select class="ui compact selection dropdown">
            <option selected="" value="articles">Data type 1</option>
            <option value="all">Data type 2</option>
            <option value="products">Data type 3</option>
          </select>
        <div type="submit" class="ui button">Endre</div>
      </div>
    </div>

    <div class="ui container">
      <div class="ui action input">
        <input placeholder="Personlig data 3" type="text">
          <select class="ui compact selection dropdown">
            <option selected="" value="articles">Data type 1</option>
            <option value="all">Data type 2</option>
            <option value="products">Data type 3</option>
          </select>
        <div type="submit" class="ui button">Endre</div>
      </div>
    </div>

    <div class="ui container">
      <div class="ui action input">
        <input placeholder="Personlig data 4" type="text">
          <select class="ui compact selection dropdown">
            <option selected="" value="articles">Data type 1</option>
            <option value="all">Data type 2</option>
            <option value="products">Data type 3</option>
          </select>
        <div type="submit" class="ui button">Endre</div>
      </div>
    </div>

    <div class="ui container">
      <div class="ui action input">
        <input placeholder="Personlig data 5" type="text">
          <select class="ui compact selection dropdown">
            <option selected="" value="articles">Data type 1</option>
            <option value="all">Data type 2</option>
            <option value="products">Data type 3</option>
          </select>
        <div type="submit" class="ui button">Endre</div>
      </div>
    </div>

    <div class="ui container">
      <div class="ui action input">
        <input placeholder="Personlig data 6" type="text">
          <select class="ui compact selection dropdown">
            <option selected="" value="articles">Data type 1</option>
            <option value="all">Data type 2</option>
            <option value="products">Data type 3</option>
          </select>
        <div type="submit" class="ui button">Endre</div>
      </div>
    </div>

    <div class="ui container">
      <div class="ui action input">
        <input placeholder="Personlig data 7" type="text">
          <select class="ui compact selection dropdown">
            <option selected="" value="articles">Data type 1</option>
            <option value="all">Data type 2</option>
            <option value="products">Data type 3</option>
          </select>
        <div type="submit" class="ui button">Endre</div>
      </div>
    </div>

</div>
