<div class="ui container personalData" ng-controller="personalDataCtrl as pdC">
    <h4 class="ui header first">Oversikt over din personlig data</h4>
	<div class="ui stackable grid container"></div>
    <h1> {{ pdC.user.profile.nameFirst + ' ' + pdC.user.profile.nameLast }}</h1>
    <div class="ui container">
      <div class="ui container" ng-repeat="field in pdC.getReactively('user').profile.personalData track by $index" >
            <div class="ui action input">
<!--               <label>Personlig data {{$index + 1}}-</label><label></label> -->
              <label id="title" placeholder="Type" type="text" ng-model="field.title">{{field.title}}:</label><label></label>
              <label id="value" placeholder="Verdi" type="text" ng-model="field.value">{{field.value}}</label>
            </div>
        </div>
    </div>
</div>