<div class="ui container profile" ng-controller="profileCtrl as prc">
  <div class="ui two column grid">
    <div class="column pull-down">
      
    	<div class="ui people shape">
	      <div ng-switch on="editProfile" class="ui card">
	        <div class="image">
	          <img ng-src="{{prc.user.profile.profilePicture}}">
	         <button id ="PicButton" ng-switch-when ="edit" ng-click="" class="ui button" type="upload">Last opp bilde</button>
	        </div>
	        <div class="content">
	        	<div>
	        		<div ng-switch-when = "save">
	        			<a class="header">{{ prc.user.profile.nameFirst + " " + prc.user.profile.nameLast }}</a>
		          		<div name="bio" class="description">
		            	<span> {{ prc.user.profile.bio }} {{text}}</span>
		          		</div>
	        		</div>
	<!--         		<div ng-switch-when="saved">
		          		<a class="header">{{ prc.user.profile.nameFirst + " " + prc.user.profile.nameLast }}</a>
		          		<div class="meta">
		            		<span ng-switch-default class="date">Sintef</span>
		          		</div>
		          		<div class="description">
		            	<label ng-switch-default>Babak er en gladlaks</label>
		          		</div>
		          	</div> -->
			        <div ng-switch-when="edit"> 
	 				
			          	<div class="ui input">
			          		<input type="text" maxlength="15" ng-model="prc.user.profile.nameFirst" name="first-name" placeholder="Fornavn">
			          	</div>
			          	<div class="ui input">
			          		<input type="text" maxlength="15" ng-model="prc.user.profile.nameLast" name="last-name" placeholder="Etternavn">
			          	</div>
		          		<div class="meta">
		          		<!--	<input type="text" ng-model="" name="Status" placeholder="Hva tenker du på?">-->
		          		</div>
		          		<div class="form ui">
			          		<div class='field' >
			          		<textarea maxlength="250" type="text" ng-model="prc.user.profile.bio" name="bio" placeholder="Fortell litt om deg selv"> </textarea>
			          		</div>
			          	</div>
		          	</div>
		          </div>
		        </div>
		        <div class="extra content">
		          <a ng-click="prc.incrementFriends()">
		            <i class="user icon"></i>
		            {{ prc.user.profile.friends.length }} venner
		          </a>
		        </div>
		        <div ng-switch-when="save">
		        	<button Id="editButton" ng-click="switchProfile()" class="ui button" type="submit">Redigere profil</button>
		        </div>
		        <div ng-switch-when="edit">
		        	<button id="editButton" ng-click="switchProfile();prc.updateInfo()" class="ui button" type="submit">Lagre</button>
	<!-- 	      		<button id="removeButton" ng-click="noEdit()" class="ui button" type="cancel">X</button> -->
		        </div>
		    </div>
		    
		    <div class="venner">
	          <div class="ui items">
	            <h3>Dine kontakter</h3>
	            <div class="item" ng-repeat="fr in prc.friends">
	              <p>{{ fr.username }}</p>
	            </div>
	            <div class="ui compact menu">
	              <a class="item newFriend">
	                  <i class="add user icon"></i> Friends
	                  <div class="floating ui ui red circular label" ng-model="friendRequestNotification">{{friendRequestNotification()}}</div>
	                </a>
	            </div><br/>
	            <div class="item modalMessage">
	            <button class="ui green button">
	            	<i class="send icon"></i>
	            	Send message</button>
	            </div>

	            <button class="ui green labeled icon button modalInbox" ng-model="messageRequestNotification">
	              <i class="inbox icon"></i>
	              {{ messageRequestNotification() }}
	            </button>


	            <script type="text/javascript">
	              $('.newFriend').click(function(){
	                $('.ui.small.modal.friendModal')
	                  .modal('show')
	                ;
	              });

	              function closeModal(){
	                location.reload()
	              }

	              $('.modalMessage').click(function(){
	              	$('.ui.small.modal.messageModal').modal('show');
	              });

	              $('.modalInbox').click(function(){
	              	$('.ui.small.modal.inboxModal').modal('show');
	              });

	              $('.ui.accordion')
	                .accordion()
	              ;
	            </script>
	          </div>
	        </div>
	       </div>
	     </div>


	
	<!--Inbox Modal-->	
	<div class="ui small modal inboxModal">
		<i class="close icon"></i>
		<div class="header">
			Inbox
		</div>
		<div class="content">
			<!--<div class="ui divided items" ng-repeat="msg in prc.messages">

			  <div class="item">

			    <div class="ui tiny image">
			      <img src="/img/kristy.png">
			    </div>
			    <div class="middle aligned content">
			    	<a class="header">Header</a>
			      {{ msg.message }}<a class="ui right floated red label" ng-click="deleteMessage(msg.message)">Delete</a>
			    </div>
			  </div>
			</div>-->
			<div class="ui items" ng-repeat="msg in prc.messages">
			  <div class="item">
			    <a class="ui tiny image">
			      <img src="/img/kristy.png">
			    </a>
			    <div class="content">
			      From: <b>{{ msg.from }}</b> | Time: <b> {{ msg.time }}</b>
			      <div class="description">
			        {{ msg.message }} <a class="ui right floated red label" ng-click="deleteMessage(msg.message)">Delete</a>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>

	<!--Send Message Modal-->
	<div class="ui small modal messageModal">
	  <i class="close icon"></i>
	  <div class="header">
	    Message
	  </div>
	  <div class="content" style="margin-bottom: 20px">
		  <div class="ui form">
		    <div class="field">
		      <label>Seach your contacts</label>
			<input type="text" ng-model="selected" typeahead="friend.username for friend in prc.friends | filter:$viewValue"
			typeahead-on-select="onSelect($item, $model, $label)">
		        
		    </div>
			<div class="field">
				<h3>Message will be sent to:</h3>
		    	<a class="ui green label" ng-repeat="recipient in messageList">{{recipient}}</a>
		    </div>
			<div class="field">
				
			</div>
		    <div class="field">
		        <label>Message</label>
		        <textarea ng-model="message"></textarea>
		    </div>
		    <div class="field">
		    	<div class="ui submit right floated green button" ng-click="sendMessage(message)">Send</div>
		    </div>
		  </div>  
		</div>

	</div>


    <!-- Accep/Deny modal-->

    <div class="ui small modal friendModal">
      <i class="close icon" onclick="closeModal()"></i>
      <div class="header">
        Friend requests
      </div>
      <div class="content" ng-repeat="fr in friendRequests()">
        <li class="friend">{{ fr.username }}</li>
        <button ng-click="accept(fr._id, bool=true)">Accept</button><button ng-click="accept(fr._id, bool=false)">Deny</button>
      </div>
    </div> <!--Accept/Deny model ends-->




    <div class="column pull-down">
      <h3 class="ui dividing header">Din fitness</h3>
      <div class="ui stackable grid container">
        <div class="row dashboard-margin progress-bar" id="circle">
          <progress class="ui centered" max="100"></progress>
        </div>
        <div class="row">
          <div class="full ui center aligned raised segment">
          <div class="ui small statistic">
            <div class="label">
              Skritt hittil i dag
            </div>
            <div class="value">
              2000
            </div>
            <div class="label">
              Skritt hittil i år
            </div>
            <div class="value">
              40000
            </div>
          </div>
        </div>
      </div>

      <div class="ui icon input">
            <input type="text" placeholder="Søk etter nye kontakter...">
            <i class="search icon"></i>
      </div>
      </div>
          <div class="ui stackable grid container">
            <div>
              <div class="ui divided items">
                <h3>Alle kontakter i databasen</h3>
                <div class="item" ng-repeat="user in prc.contacts">
                  <li>{{user.username}} <button ng-click="inviteFriend(user._id)" class="ui basic button"><i class="icon user"></i>Add friend</button></li>
                </div>
              </div>
            </div>
          </div>

    </div>



  </div>
</div>
