<div class="ui container profile" ng-controller="profileCtrl as prc">
  <div class="ui two column grid">
    <div class="column pull-down">
      <div class="ui card">
        <div class="image">
          <img src="http://debatt.kommunal-rapport.no/sites/debatt.kommunal-rapport.no/files/styles/medium/public/profiles/photos/babak_farshchian.jpg?itok=fDM-GqGf">
        </div>
        <div class="content">
          <a class="header">{{ prc.user.profile.nameFirst + " " + prc.user.profile.nameLast }}</a>
          <div class="meta">
            <span class="date">Ble med i 2016</span>
          </div>
          <div class="description">
            Babak er en gladlaks
          </div>
        </div>
        <div class="extra content">
          <a ng-click="prc.incrementFriends()">
            <i class="user icon"></i>
            {{ prc.user.profile.friends }} venner
          </a>
        </div>
      </div>
    </div>
    <!-- Indicator -->
    <div class="column pull-down">
      <h3 class="ui dividing header">Din fitness</h3>
      <div class="ui stackable grid container">
        <div class="row dashboard-margin progress-bar" id="circle">
          <progress class="ui centered" max="100"></progress>
        </div>
        <div class="row">
          <div class="full ui center aligned raised segment">
          <div class="ui small statistic">
            <div class="label">
              Skritt hittil i dag
            </div>
            <div class="value">
              2000
            </div>
            <div class="label">
              Skritt hittil i år
            </div>
            <div class="value">
              40000
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>


    <div class="ui stackable grid container">
      <div class="row"> <!-- Kontaktliste: DB-test -->
        <div class="ui divided items">
          <h3>Dine kontakter</h3>
          <div class="item" ng-repeat="contact in prc.contacts">
            <i class="user icon"></i>
            <div class="middle aligned content">
              {{
              contact.profile.nameFirst +" "+
              contact.profile.nameLast +", "+
              contact.username }}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
