<div class="six wide ui divided items">
  <h3>Kommende Aktiviteter</h3>
  <div class="item" ng-repeat="event in evList.events">
    <i class="calendar icon"></i>
    <div class="content">
      <a class=" header" ui-sref="egneAktiviteter.eventDetails({ eventId: event.eventId })"> {{ event.eventName }} </a>
      <div class="description">   
        <p>{{ event.date }} kl 12.00</p>
        <p>{{ event.location }}</p>
      </div>
    </div>
  </div>
</div>

<button ui-sref="egneAktiviteter" class="ui medium blue button ">Se alle</button>
<event-editor></event-editor>