<div class="ui raised blue segment">
	<div class="ui small feed">
		<h4 class="ui header">Dette foregår blant vennene du har lagt til:</h4>
	  	<div class="event" ng-repeat="post in newsfeed.posts" ng-switch on="post.type">
	  		<div class="content">
		  		<div class="summary" ng-switch-when="friendAdded">
		  			<a class="header">{{ post.owner.profile.nameFirst +" "+ post.owner.profile.nameLast }}</a> har lagt til <a class="header">{{ post.newFriend.profile.nameFirst +" "+ post.newFriend.profile.nameLast }}</a> som venn!
		  		</div>
		  		<div class="summary" ng-switch-when="userPost">
		  			<a class="header">{{ post.owner.profile.nameFirst +" "+ post.owner.profile.nameLast }}</a> skrev &laquo;<a class="header">{{ post.title }}</a>&raquo;
		  			<div>&quot;<i>{{ post.description }}</i>&quot;</div>
		  		</div>
		  		<div class="summary" ng-switch-when="newEvent">
		  			<a class="header">{{ post.owner.profile.nameFirst +" "+ post.owner.profile.nameLast }}</a> har laget en ny aktivitet: &laquo;<a class="header">{{ post.event.name }}</a>&raquo;
		  		</div>
		  		<div class="summary" ng-switch-when="joinedEvent">
		  			<a class="header">{{ post.owner.profile.nameFirst +" "+ post.owner.profile.nameLast }}</a> har blitt med i aktiviteten <a class="header">{{ post.event.name }}</a>
		  		</div>
	  		</div>
	  	</div>
	  	<i ng-show="newsfeed.postsCount == 0">Det ser ikke ut til å være noen nyheter her enda!</i>
		<a href="" ng-if="newsfeed.elementNumber > 0" ng-click="newsfeed.changePage(-1)">Se nyere beskjeder</a>
		<a href="" ng-if="newsfeed.elementNumber < newsfeed.postsCount-newsfeed.postsPerPage" ng-click="newsfeed.changePage(1)">Se eldre beskjeder</a>
	</div>
</div>
